<form action="/zipcode" method="post" id="cepSearch">
    <input type="text" name="zipcode" value="<%=cep%>"  placeholder="00000-000">
</form>

<button type="submit" form="cepSearch" value="submit">Pesquisar</button>