<!-- views/home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Consulta de Cep</title>
</head>

<body>
    <%- include('partials/header') %>
    <section>
        <div>
            this will be the form container
            <%- include('partials/cepForm', {cep}) %>
        </div>
        <div>
            this will be the response container
            <% if (cep !== '') { %>
                <%- include('partials/cepDisplay', { cep, logradouro, complemento, bairro, localidade, uf, ibge, gia, ddd, siafi } )%>
            <% } %>
        </div>
    </section>
</body>

</html>